* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Wermut", sans-serif;
}


.layout {
    max-width: 1440px;  
    width: 100%;         
    margin: 0 auto;
    overflow: hidden;    
}


/* секция 1 */
.section-1 {
    position: relative;
    padding-top: 50px;
    padding-bottom: 0; 
    background-color: #243A42;

    /* background-color: #B55F22; */
}

.section-1 img {
    width: 100%;
    display: block;
    margin-top: 40px;
}

.section-1 p {
    position: absolute;
    top: 105px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;


    font-size: 72px;
    color: #7C3A22;
}

/* секция 2 */
.section-2 {
    position: relative;
    width: 100%;
    height: 817px;
    background-color: pink; /* для видимости */
}

/* strip.svg */
.section-2 img.strip {
    width: 100%;
    display: block;
    z-index: 1; /* по умолчанию */
}

/* cup.svg */
.section-2 img.cup {
    position: absolute;
    top: 350px;
    left: 735px;
    width: 589px; /* подбери под макет */
    height: 447px;
    z-index: 10;
}

/* нижний прямоугольник */
.bottom-rectangle {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 110px;
    background-color: #B55F22;
    z-index: 5;
}


